<div id="config">
	<p> Current configuration </p>

	<table>
		<tr class="row_odd">
			<td>Lights</td>
			<td>{{lights}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr class="row_even">
			<td>Heating</td>
			<td>{{heating}}</td>
		</tr>
		<tr class="row_even">
			<td>Day temperature (Celsius)</td>
			<td>{{daytemp}}</td>
		</tr>
		<tr class="row_even">
			<td>Night temperature (Celsius)</td>
			<td>{{nighttemp}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr class="row_odd">
			<td>Humidifier</td>
			<td>{{humidifier}}</td>
		</tr>
		<tr class="row_odd">
			<td>Minimum Humidity (%)</td>
			<td>{{minhum}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr class="row_even">
			<td>Day Start (HH:MM)</td>
			<td>{{daytimestart}}</td>
		</tr>
		<tr class="row_even">
			<td>Day End (HH:MM)</td>
			<td>{{daytimeend}}</td>
		</tr>
		<tr class="row_even">
			<td>Check interval (min)</td>
			<td>{{checkinterval}}</td>
		</tr>
	</table>
	 <button type="button" onclick="location.href = '/page/edit';">Edit</button> 
</div>
